<div class="row w-100 p-5">
  <div class="col d-flex flex-column justify-content-center align-items-center">
    <img
      src="../../../../assets/svg/undraw_referral_j2rw.svg"
      alt=""
      class="w-25 mb-3"
    />

    <h3 *ngIf="referralCount$ | async as count" class="mb-2">
      <ng-container *ngIf="count === 0">
        Invite your friend and earn points!
      </ng-container>

      <ng-container *ngIf="count > 0">
        You got {{ count }} point(s)! <br />
      </ng-container>
    </h3>

    <p class="form-text text-muted m-3">invite more to earn more!.</p>

    <referral-code-input
      [inviteCode]="code"
      (copyToClipboard)="copyToClipboard($event)"
    ></referral-code-input>
  </div>
</div>
