<div class="header-nav theme-primary d-flex justify-content-center">
  <div class="header-item-container row p-3">
    <div class="col">
      <h3 class="dm-serif-text-regular text-white">Referroo</h3>
    </div>
    <div class="col header-nav-items">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Referrals</a></li>
        <li><a href="">About</a></li>
      </ul>
    </div>
    <div class="col">
      <div class="row" *ngIf="$loggedInUser | async as user">
        <div class="col d-flex justify-content-end">
          <button type="button" class="btn btn-primary p-2" (click)="signOut()">
            Sign Out
          </button>
          <img [src]="user.photo" alt="" class="avatar" />
        </div>
      </div>
    </div>
  </div>
</div>
